.left-side {
    float: left;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
}

.right-side {
    float: right;
    top: 0px;
    left: 0%;
    width: 50%;
    height: 100%;
}

.con-left {
    padding: 10%;
    padding-top: 10%;
}

.con-right {
    padding: 10%;
}

.full-top {
    height: 40%;
}

.full-bot {
    height: 40%;
    padding-top: 1%;
}

.middle {
    padding: 50px;
}

.section {
  text-align:center;
  font-size: 3em;

}

#floatingcircle {

    height: auto;
    width: 100%;
    background: black;
}

#progress {
    color: wihte;
    height: 80%;

}

#boldc{
    color: #990000;
    font-weight: bold;
}

#cc{
    color: white;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.5em;
    line-height: 130%;
    color: black;
    padding: 20px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    line-height: 100%;
    color: white;
    text-transform: uppercase;
    text-decoration: line-through;
    text-decoration-color: #990000;
    text-decoration-style: solid;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    color: #990000;
    position: absolute;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.4em;
    color: black;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;

}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    color: black;
    position: fixed;
    left: 55%;
    color: red;
}


@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}
.circle {
    width: 150px;
    height: 150px;
    border: 4px white solid;
    border-radius: 50%;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    animation: float 3s ease-in-out infinite;
    display: inline-block;
    overflow: hidden;
    background-color: white;
}

#circle-one {
    position: relative;
}





